.general-info {
  width: 100%; }
  .general-info .general-info-cont {
    width: 94%;
    margin: 0 auto; }
    .general-info .general-info-cont .form-horizontal .form-group {
      margin-bottom: 8px;
      vertical-align: middle; }
      .general-info .general-info-cont .form-horizontal .form-group .col-sm-1, .general-info .general-info-cont .form-horizontal .form-group .col-sm-2 {
        text-align: left; }

.resetpop {
  z-index: 99999;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: auto;
  width: auto;
  transform: translate(-50%, -50%); }
  .resetpop .resetpop-form {
    overflow: hidden;
    width: 500px;
    padding-bottom: 30px;
    background: #8e8e8e; }
    .resetpop .resetpop-form .resetpop-title {
      width: 100%;
      height: 40px;
      text-align: center;
      line-height: 40px;
      background: #999;
      margin-bottom: 20px; }
      .resetpop .resetpop-form .resetpop-title span {
        display: inline-block;
        width: 40%;
        text-align: left; }
      .resetpop .resetpop-form .resetpop-title input {
        display: inline-block;
        width: 50%;
        text-align: right;
        background: none;
        border: none;
        cursor: pointer; }
    .resetpop .resetpop-form .resetpop-form-text {
      overflow: hidden;
      margin-bottom: 20px;
      line-height: 34px; }

.resetPwd .form label {
  min-width: 100px; }

.resetPwd .form .form-group:last-child {
  text-align: center; }
