.provider-details {
	margin: 0 auto;
	.provider-details-goods {
		margin: 0 15px;

		.row {

			.col-md-4 {
				ul {
					li {
						list-style-type: none;
						line-height: 30px;

						b {
							padding-right:20px;
						}
					}
				}
			}
		}
	}
	.returntab {
		text-align: right;
	}
}