body, html {
  height: 100%;
  font-size: 15px;
  font-family: 'Microsoft Yahei'; }

.sidebar {
  float: left;
  position: fixed;
  width: 250px;
  height: 100%;
  background: #2b333d;
  top: 0;
  z-index: 1;
  padding-top: 50px;
  box-sizing: border-box; }
  .sidebar ul {
    list-style: none;
    padding: 0;
    padding-top: 10px;
    margin: 0; }
    .sidebar ul li a {
      display: block;
      padding: 10px 20px;
      color: #fff; }
      .sidebar ul li a:hover {
        background: #24272d;
        text-decoration: none; }
      .sidebar ul li a .fa {
        float: right;
        font-size: 20px; }
