<div class="provider-details">
	<ol class="breadcrumb">
		<li ><a ui-sref="info.generalInfo">信息管理</a></li>
		<li ><a ui-sref="info.providerInfo">供货信息</a></li>
		<li class="active">供货详情</li>
	</ol>
	<div class="provider-details-goods">
		<h4>商品详情</h4>
		<p class="returntab"><a ui-sref="info.providerInfo"><i class="fa fa-reply"></i>返回</a></p>
		<table class="table table-bordered">
			<tr>
				<td>商品名称</td>
				<td>主入户门</td>
				<td>商品编号</td>
				<td>SMW2016254879</td>
				<td>商品型号</td>
				<td>SMW254</td>
			</tr>
			<tr>
				<td>商品品牌</td>
				<td>霍曼（北京）贸易有限公司</td>
				<td>商品单价</td>
				<td>￥2500.00</td>
				<td>商品规格</td>
				<td>15*150*25 cm</td>
			</tr>
			<tr>
				<td>施工阶段</td>
				<td>基础装修</td>
				<td>添加人</td>
				<td>张楠</td>
				<td>添加时间</td>
				<td>2016-08-16 15:12:16</td>
			</tr>
			<tr>
				<td>备注</td>
				<td colspan="5">霍曼（北京）贸易有限公司</td>
			</tr>
			<tr>
				<td>商品图片</td>
				<td colspan="5"><img src="http://placehold.it/50x50" alt=""></td>
			</tr>

		</table>
	</div>
</div>