<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class=""><a href="#/login">登录</a></li>
            <li class="dropdown">
              <a href="#/login" class="dropdown-toggle" data-toggle="dropdown">信息管理 <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">信息管理</a>
                    <ul>
                        <li><a href="">demo</a></li>
                    </ul></li>
                <li><a ui-sref="info">基本信息</a></li>
                <li><a href="#">供货信息</a></li>
                <li><a href="#">商品详情</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">订单管理 <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a ui-sref="orders">销售订单</a></li>
                <li><a href="#">订单详情-未完成</a></li>
                <li><a href="#">订单详情-已完成</a></li>
                <li><a href="#">订单详情-发货信息</a></li>
                <li><a href="#">退换货订单</a></li>
                <li><a href="#">退换货订单详情-已完成</a></li>
                <li><a href="#">退换货订单详情-未完成</a></li>
              </ul>
            </li>            
          </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>