<div class="order-details">

	<ul  class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="" tab="#orderInfo" id="orderInfo-tab" role="tab" data-toggle="tab" aria-controls="orderInfo" aria-expanded="true">订单信息</a></li>
		<li role="presentation" class=""><a href="" tab="#deliveryInfo" role="tab" id="profile-tab" data-toggle="tab" aria-controls="deliveryInfo" aria-expanded="false">发货信息</a></li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade active in" id="orderInfo" aria-labelledby="orderInfo-tab">
			<table class="table table-bordered table-condensed">

					<tr>
						<th>订单状态</th>
						<td>{{orderInfo.status}}</td>
						<th>订单号</th>
						<td>{{orderInfo.supplierOrderNumber}}</td>
						<th>下单时间</th>
						<td>{{orderInfo.createTime | date: 'yyyy年MM月dd日'}}</td>
					</tr>

					<tr>
						<th>收货人</th>
						<td>{{orderInfo.consignee}}</td>
						<th>收货电话</th>
						<td>{{orderInfo.consigneePhone}}</td>
						<th>收货地址</th>
						<td>{{orderInfo.address}}</td>
					</tr>

					<tr>
						<th>进场时间</th>
						
						<td>{{orderInfo.setEntryTime | date: 'yyyy年MM月dd日'}}</td>

						<th>所属区域</th>
						<td>{{orderInfo.areaGenus}}</td>
						<th>供应商</th>
						<td>{{orderInfo.supplierName}}</td>
					</tr>

			</table>
			<table class="table table-bordered order-items-list">
				<thead>
					<tr>
						<th align="center">
						<input type="checkbox"  name="" ng-click="checkboxSelect($event)"></th>
						<th>商品名称</th>
						<th>商品编号</th>
						<th class="textcenter">单位</th>
						<th class="textright">单价(元)</th>
						<th class="textcenter">数量</th>
						<th class="textcenter">商品状态</th>
						<th class="textright">总计(元)</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="item in billList" class="items">
						<td  align="center">
							<input type="checkbox" name="" ng-if="item.status==1" value="{{item.supplierMaterialsMiddleId}}">
						</td>
						<td>{{item.name}}</td>
						<td>{{item.materialCode}}</td>
						<td class="textcenter">{{item.unit}}</td>
						<td class="textright">{{item.unitPrice | currency:''}}</td>
						<td class="textcenter">{{item.count}}</td>						
						<td class="textcenter">{{item.status}}</td>
						<td class="textright">{{item.total | currency:''}}</td>

					</tr>

					<tr>
						<td  align="center"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>						
						<td></td>
						<td class="textright">{{billListTotal | currency:''}}</td>
					</tr>
					<tr>
						<td colspan="8">
							<button class="btn btn-primary" ng-click="delivery($event)">发货</button>
							<button class="btn btn-default" ng-click="print()"> 订单打印</button>
						</td>
					</tr>									
				</tbody>
			</table>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="deliveryInfo" aria-labelledby="deliveryInfo-tab">
			<table class="table table-bordered table-condensed" ng-repeat="item in deliveryList">
				<thead>
					<tr class="info">
						<th colspan="3">
						<span>共计{{item.waybillCodeMap.count}}件   预计进场时间：{{item.waybillCodeMap.setEntryTime | date: 'yyyy年MM月dd日'}}
						物流公司：{{item.waybillCodeMap.logisticsCompany}}      
						运单编号: {{item.waybillCodeMap.waybillCode}}</span>
						<button class="btn btn-primary pull-right">查看物流</button>
						</th>
					</tr>					
				</thead>			

				<tbody>
					<tr>
						<td class="delivery-info-name" >名称</td>
						<td class="delivery-info-num" align="center">数量</td>
						<td class="delivery-info-time" >下单时间</td>
					</tr>				
					<tr ng-repeat="a in item.waybillCodeMap.materialList">
						<td class="delivery-info-name">
							<p>"{{a.name}}"</p>
							<span>品牌: {{a.brandName}}</span>
						</td>
						<td align="center">{{a.count}}</td>
						<td>{{a.createTime | date: 'yyyy年MM月dd日'}}</td>
					</tr>

					<tr class="delivery-receipt" ng-if="item.signMap.logistics.supervisorRoleCode==1">
						<td  colspan="3">
						<h6>已签收</h6>
						<p>
						<span>签收人：张佳</span>    <span>项目经理</span>      <span>签收时间：2016-08-20 15:26:12</span></p>
						<ul class="delivery-receipt-img">
							<li>
								<img src="http://fpoimg.com/250x250">
							</li>
							<li>
								<img src="http://fpoimg.com/250x250">
							</li>
							<li>
								<img src="http://fpoimg.com/250x250">
							</li>
						</ul>
						</td>
					</tr>

					<tr class="delivery-receipt" ng-if="item.signMap.logistics.formanUserCode==1">
						<td  colspan="3">
						<h6>已签收</h6>
						<p>
						<span>签收人：张佳</span>    <span>项目经理</span>      <span>签收时间：2016-08-20 15:26:12</span></p>
						<ul class="delivery-receipt-img">
							<li>
								<img src="http://fpoimg.com/250x250">
							</li>
							<li>
								<img src="http://fpoimg.com/250x250">
							</li>
							<li>
								<img src="http://fpoimg.com/250x250">
							</li>
						</ul>
						</td>
					</tr>											

				</tbody>
			</table>
			<!-- delivery info -->
			<div class="delivery-details">

				<div class="delivery-details-title">
					<h2>运单号码： 3900740700160</h2>
					<h2>物流公司： 韵达快递</h2>
				</div>

				<div class="delivery-details-cont">

					<ul>
						<li>
							<time>2016-06-09 11:46:06</time>
							<p>您的订单在【北京通州分拣中心】分拣完成</p>
						</li>
						<li>
							<time>2016-06-09 11:46:06</time>
							<p>您的订单在【北京通州分拣中心】分拣完成</p>
						</li>
						<li>
							<time>2016-06-09 11:46:06</time>
							<p>您的订单在【北京通州分拣中心】分拣完成</p>
						</li>	
						<li>
							<time>2016-06-09 11:46:06</time>
							<p>打包成功</p>
						</li>											
					</ul>	

				</div>
			</div>					
		</div>

	</div>

</div>