<div class="provider-details">

	<div class="provider-details-goods">
		<h4>商品详情</h4>
		<div class="provider-details-goods-cont">
			<ul>
				<li><b>商品名称:</b><span>{{data.brandName}}</span></li>
				<li><b>商品单价:</b><span>{{data.price | currency:''}}</span></li>
				<li><b>商品规格:</b><span>{{data.specifications}}</span></li>
				<li><b>施工阶段:</b><span>{{data.materialType}}</span></li>
				<li><b>添加人:</b><span>{{data.createName}}</span></li>
				<li><b>添加时间:</b>{{data.createTime | date:'yyyy年MM月dd日'}}</li>
				<li><b>备注:</b>{{data.remark}}</li>
				<li><b>商品图片:</b></li>
				<li><img src="http://placehold.it/50x50" alt=""><img src="http://placehold.it/50x50" alt=""></li>
			</ul>
		</div>
	</div>
</div>