
.order-refund-details {
 
	.table {
		&:first-child {
			width: 80%;
			margin: 20px 0;
			th {
				width: 10%;
			}				
		}

	}

	.table {
		margin-top:20px;

		.delivery-info-num {
			width: 10%;
		}
		.delivery-info-time {
			width: 20%;
		}
		.delivery-info-name {
			width: 70%;
			span {
				color: #ccc;
				font-size: 14px;
			}
			p {
				margin: 0;
			}
		}
		.info {
			th {
				border-bottom: 0;
				span {
					line-height: 33px;
				}
			}
		}
		td {
			vertical-align: middle;
		}
		.delivery-receipt {
			p {
				span {
					padding-right: 15px;
				}
			}
			h6 {
				color: #5bc0de;
				font-size: 16px;
			}
			.delivery-receipt-img {
				list-style: none;
				padding: 0;
				li {
					display: inline-block;
					img {
						max-width: 80px;
					}
				}
			}
		}
	}

	.order-refund-process {
		width: 80%;
		& > ul {
			list-style: none;
			padding: 0;
			li {
				padding: 10px;
				border-bottom: 1px solid #ccc;
				p {
					margin: 0;
					padding: 5px 0 0;
				}
			}
		}
		.order-refund-process-img {
			padding: 0;
			margin-top: 10px;
			list-style: none;
			li {
				display: inline-block;
				padding: 0;
				border: 0;
				img {
					max-width: 80px;
					border:1px solid #ddd;
					padding: 10px;
				}
			}	
		}
	}	
}